* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.divPai {
    display: flex;
    background-image: url("../assets/img/bannerHospital.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* começo do menu lateral*/
.divPaiLateral {
    background-color: #020F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 100vh;
}

.filhoLateral {
    width: 10vw;
    height: 96vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divNomeEmpresa {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 2%;
}

#textoEmpresa {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

#nomeEmpresa {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.divMainMenu {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 7%;
}

#pMainMenu {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.divPaiOpcoesMenu {
    width: 100%;
    height: 40vh;
    position: relative;
    top: 8%;
}

.divPaiOpcoesMenu a {
    text-decoration: none;
}


.divHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.7vw;
}

#iconMenuLateralHome {
    width: 2vw;
    height: 4vh;
}

#pMenuLateral {
    color: white;
    font-size: 11px;
    text-decoration: none;
}

.divEstatisticas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
    position: relative;
    top: 5%;
}

#iconEstatiscasLateral {
    width: 1.8vw;
    height: 3.8vh;
}

.divEspaco {
    width: 5vw;
    height: 5vh;
}

.divDashboards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8.5vw;
    position: relative;
    top: 18%;
}

#iconDashboardsLateral {
    width: 1.8vw;
    height: 3.8vh;
}

.divComputador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5vw;
    position: relative;
    top: 3%;
}

#iconComputadorLateral {
    width: 2vw;
    height: 4.2vh;
}

.divCadastroComputador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5vw;
    position: relative;
    top: 8%;
}

#iconComputadorCadLateral {
    width: 3vw;
    height: 4vh;
}

.divAnaliseEquipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.2vw;
    position: relative;
    top: 13%;
}

#iconAnaliseEquipe {
    width: 2vw;
    height: 4vh;
}

.divCadastroEquipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8.2vw;
    position: relative;
    top: 23%;
}

#iconCadastroEquipe {
    width: 2vw;
    height: 3.5vh;
}

.divHelp {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 20%;
}

.divPaiHelpMenu {
    width: 9vw;
    height: 5vh;
    position: relative;
    top: 20%;
}

#pHelp {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.divHelpDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7vw;
    position: relative;
    top: 5%;
}

#iconHelpDesk {
    width: 2vw;
    height: 4vh;
}

.divConfiguracoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8.8vw;
    position: relative;
    top: 35%;
}

#iconConfiguracoes {
    width: 2vw;
    height: 4vh;
}

#logoMenuLateral {
    width: 7vw;
    height: 8vh;
    position: relative;
    top: 70%;
}

.divEspacoV2 {
    background-color: rgba(255, 255, 255, 0.409);
    width: 9vw;
    height: 0.1vh;
    position: relative;
    top: 17%;

}

/* fim do menu lateral */

/* começo da cabeçalho */
.divPaiCabecalho {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.filhoCabecalho {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    background-color: #fff;
}

.direitaCabecalho {
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}

.divPerfilCabecalho {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 14vw;
    height: 7vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textosIcon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tituloPerfil {
    font-size: 12px;
    font-weight: bold;
}

#cargoPerfil {
    font-size: 12px;
}

.iconPerfilCabecalho {
    width: 3vw;
    height: 6vh;
}

.setaPerfilCabecalho {
    width: 1vw;
    height: 2vh;
}

.emailIconCabecalho {
    width: 1.5vw;
    height: 3vh;
}

.sinoIconCabecalho {
    width: 1.5vw;
    height:
        3vh;
}

.esquerdaCabecalho {
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inputLogin {
    border-radius: 15px;
    border: none;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none;
    display: flex;
    margin-left: 30px;
}

.inputLogin::placeholder {
    font-size: 11px;
    position: relative;
    top: -5%;
    left: 5%;
}

.lupaBusca {
    width: 2vw;
    height: 3.5vh;
    position: relative;
    right: 13%;
}

/* fim do cabeçalho */

/* começo do conteudo */
.all {
    display: flex;
    align-items: center;
    justify-content: start;
    /* justify-content: space-around; */
    /* margin-top: 60px; */
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    position: relative;
    left: 8%;
    /* margin-top: 2%; */

}

.divPaiConteudo {
    width: 100%;
    height: 64vh;
    margin-top: 98px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-height: 85%;
    /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 1px;
}

.cardPai {
    height: 20vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px 1px;
    margin: 10px;

}

.cardPai:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 15px 20px 2px;
}

.cardFilho {
    border-left: solid 5px #26aba7;
    margin: 10px 0 0 10px;
    padding: 5px;

}

.cardTexto {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.txtUso {
    font-size: x-large;
    font-weight: 350;
    width: 85%;
}

.div-img {
    width: 24px;
    height: 25px;
    background-color: #a8dddcb6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCard {
    width: 18px;
    height: 18px;
    z-index: 999;
}

.infoCard {
    font-size: 13px;
    font-size: 200;
    /* margin: 10px 0 0 20px; */
}

.infoStatus {
    font-size: small;
    font-weight: 200;
    margin: 20px 9px;

}

.statusCard {
    height: 10px;
}
.Setor{
    width:100%;
    display:flex;
    justify-content:space-around ;
}

.cadastrarSetor {
    width: 45%;
    height:9vh;
    border-radius: 2vh 2vh 2vh;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:2rem 3rem;
    /* margin-bottom: 10vh; */
    /* position: relative;
    left: 9%;
    bottom: 2%; */
}

.cadastrarSetor>h1 {
    font-size:3.5vh;
}

.entradaSetor > input {
    height: 4vh;
    border: none;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_cadastrarSetor{
    border: none;
        background-color: #38b0ac;
        color: #fff;
        padding: 5px;
        border-radius: 15px;
        width: 80px;
        box-shadow: rgba(50, 50, 93, 0.1) 0px 8px 0px 0px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn_cadastrarSetor:hover {
        transform: scale(1.05) ;
        cursor: pointer;
}
.div_Select{
    display:flex;
}
#select_filtrarSetor{
    padding:.5rem;
    display:flex;
    border-radius: 8px;;
    width:10vh;
    height:4vh;
    margin:3rem 1rem;
}
#select_filtrarSetor:hover{
    cursor:pointer
}
#select_filtrarStatus{
    padding:.5rem;
    display:flex;
    border-radius: 8px;
    width:10vh;
    height:4vh;
    margin:3rem 1rem;
}


/* fim do conteudo */